<div class="fave-container py-4" data-controller="favorites">
  <h2>Your Likes</h2>
  <div class="fave-cards py-4">
    <% @favorites.each do |favorite| %>
      <div class="fave-card"
          data-favorites-target="recipe"
          data-id="<%= favorite.id %>"
          style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path(favorite.photo_url); %>');">
        <h3><%= favorite.name %></h3>
        <p><%= favorite.description %></p>
        <div class="py-2">
          <%= link_to "See recipe", recipe_path(favorite), class: "main-btn" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Back to curated recipes", recipes_path, class: "back-link" %>
</div>
<%= render "shared/navbar" %>
