<div class="container-fv favebg py-4">
  <h1>Your Likes</h1>
  <div class="cards-fv py-4">
  <% @favorites.each do |favorite| %>
    <div class="card-fv" data-id="<%= favorite.id %>"; style="background-image: url('<%= asset_path(favorite.photo_url); %>');">
        <h2><%= favorite.name %></h2>
        <p><%= favorite.description %></p>
        <div>
        <button class="remove-favorite-button" data-favorite-id="<%= favorite.id %>">Unfavorite</button>
        <%= link_to "See more details", recipe_path(favorite) %>
        </div>
    </div>
    <% end %>
  </div>
  <%= link_to "Back to curated recipes", recipes_path, method: :get %>
</div>
<%= render "shared/navbar" %>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var removeFavoriteButtons = document.querySelectorAll('.remove-favorite-button');

  removeFavoriteButtons.forEach(function (button) {
    button.addEventListener('click', function () {
      var favoriteId = button.getAttribute('data-favorite-id');
      if (favoriteId) {
        // Make an AJAX request to remove the favorite
        fetch('/favorites/' + favoriteId, {
          method: 'DELETE',
          headers: {
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content,
          },
        })
        .then(function (response) {
          if (response.status === 200) {
            // Remove the favorite from the DOM
            var favoriteRecipe = document.querySelector('.favorite-recipe[data-id="' + favoriteId + '"]');
            if (favoriteRecipe) {
              favoriteRecipe.remove();
            }
          }
        })
        .catch(function (error) {
          console.error('Error:', error);
        });
      }
    });
  });
});
</script>
