<h1>My Favourite Recipes</h1>
<% @favorites.each do |favorite| %>

  <div>
    <h2><%= favorite.favoritable.name %></h2>
    <p><%= favorite.favoritable.description %></p>

      <%= form_for favorite, url: favorite_path(favorite), method: :delete, html: { class: "remove-favorite-form" } do |f| %>
      <%= f.submit "Remove", class: "remove-favorite-button" %>
      <% end %>

  <% end %>
    <div class="search-container">
      <%= form_tag(search_recipes_path, method: :get, class: "search-form") do %>
      <%= text_field_tag(:query, params[:query], placeholder: "Search recipes...") %>
      <%= submit_tag("Search") %>
      <h2>Search for more Recipes</h2>
    </div>
  </div>
<% end %>
<%= link_to "Back to curated recipes", recipes_path, method: :get %>

<%= render "shared/navbar" %>
