<div class="fave-container py-4" data-controller="favorites">
  <div>
    <h2>Favourite Recipes</h2>
    <div class="fave-cards py-4">
      <% @favorites.each do |favorite| %>
        <div class="fave-card"
            data-favorites-target="recipe"
            data-id="<%= favorite.id %>"
            style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path(favorite.photo_url); %>');">
          <h3><%= favorite.name %></h3>
          <p><%= favorite.description %></p>
          <div class="fav-action-btn-group">
            <%= link_to "See recipe", recipe_path(favorite), class: "main-btn see-recipe-btn" %>
            <%= button_tag data: {
              action: "favorites#remove",
              favorite_id: favorite.id,
              recipe_id: favorite.id
            } do %>
            <i class="fa-solid fa-heart liked-btn"></i>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
    <%= link_to "Back to curated recipes", recipes_path, class: "back-link" %>
  </div>
  <%= render "shared/navbar" %>
</div>
