<h1> My Favourite recipes </h1>
<% raise %>
<% @favourites.each do |favourite| %>
  <div class="recipe-card">

    <h2><%= favourite.name %></h2>

    <h3>Ingredients</h3>
    <ul>
      <%favourite.recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
      <% end %>
    </ul>
    <h3>Cuisines</h3>
    <ul>
      <%favourite.recipe.cuisines.each do |cuisine| %>
          <li><%= cuisine.name %></li>
      <% end %>
    </ul>
    <h3>Dietary Restrictions</h3>
    <ul>
      <%favourite.recipe.dietaries.each do |dietary| %>
          <li><%= dietary.dietary_type %></li>
      <% end %>
<% end %>
  <%= form_with(url: search_user_recipes_path, method: :get) do |form| %>
  <%= form.text_field :query, placeholder: "Search by name, dietary, cuisine, or ingredient" %>
  <%= form.submit "Search for more recipes" %>
  <% end %>
