<div class="swiper" data-controller="swiper" data-swiper-love-button="love" data-swiper-nope-button="nope">
  <div class="swiper--status">
    <i class="fa fa-remove" id="nope"></i>
    <i class="fa fa-heart" id="love"></i>
  </div>
  <div class="swiper--cards">
    <% @recipes.each do |recipe| %>
    <div class="swiper--card swiper-slide" data-swiper-target="card" data-recipe-id="<%= recipe.id %>" style="background-image: url('<%= asset_path(recipe.photo_url) %>'); background-size: cover;">
        <h2><%= recipe.name %></h2>
        <p><%= "#{recipe.time} mins" %></p>
        <div class="swiper--buttons">
          <button><i class="fa fa-remove"></i></button>
          <button><i class="fa fa-heart"></i></button>
        <div class="d-flex flex-column" style="margin-top: 24px;">
          <%= link_to "See more details", user_recipe_path(recipe) %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "shared/navbar" %>
</div>
