<div class="swiper">
  <div class="swiper-wrapper">
    <% @recipes.each do |recipe| %>
      <%# <div class="swiper-slide swiper-bg text-center" style="background-image: url('<%= asset_path(recipe.photo_url) %>
      <div class="swiper-slide swiper-bg text-center">
        <%# <img src="<%= asset_path(recipe.photo_url) %>
        <%= link_to favourite_index_path(recipe) do %>
          <i class="far fa-heart"></i>
        <% end %>
        <%= link_to user_recipes_path(recipe) do %>
          <i class="far fa-circle-xmark"></i>
        <% end %>
        <h2><%= recipe.name %></h2>
        <%= link_to "See more details", user_recipe_path(recipe) %>
      </div>
    <% end %>
  </div>
</div>

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs'

  const swiper = new Swiper('.swiper', {
      on: {
      init: function () {
        console.log('swiper initialized');
      },
    },
    // Optional parameters
    // direction: 'vertical',
    // loop: true,

    // If we need pagination
    // pagination: {
    //   el: '.swiper-pagination',
    // },

    // Navigation arrows
    // navigation: {
    //   nextEl: '.swiper-button-next',
    //   prevEl: '.swiper-button-prev',
    // },

    // And if we need scrollbar
  //   scrollbar: {
  //     el: '.swiper-scrollbar',
  //   },
  });
</script>

