<div class="swiper">
  <div class="swiper--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>
  <div class="swiper--cards">
    <% @recipes.each do |recipe| %>
    <div class="swiper--card swiper-slide" style="background-image: url('<%= asset_path(recipe.photo_url) %>'); background-size: cover;">
        <h2><%= recipe.name %></h2>
        <p><%= "#{recipe.time} mins" %></p>
        <div class="swiper--buttons">
          <button id="nope"><i class="fa fa-remove"></i></button>
          <button id="love"><i class="fa fa-heart"></i></button>
        </div>
        <div class="d-flex flex-column" style="margin-top: 24px;">
          <%= link_to "See more details", user_recipe_path(recipe) %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "shared/navbar" %>
</div>
