<h1>All Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="recipe-card">
    <h2><%= recipe.name %></h2>
    <p><%= recipe.ingredients %></p>
    <p><%= recipe.cuisines %></p>
    <p><%= recipe.dietaries %></p>
    <!-- Add a checkbox or button for selecting the recipe -->
    <label>
      <input type="checkbox" name="selected_recipes[]" value="<%= recipe.id %>">
      <%# <%= link_to 'Favourite', favourite_user_recipe_path(@recipe), method: :post %>
      Select
    </label>
    <% end %>
  </div>
