<%# <%= render "shared/navbar" %>

<div class="swiper">
  <div class="swiper-wrapper">
    <% @recipes.each do |recipe| %>
      <div class="swiper-slide d-flex align-items-end" style="background-image: url('<%= asset_path(recipe.photo_url)%>'); background-size: cover;" >
        <div class="container swiper-info">
          <h2><%= recipe.name %></h2>
          <div class="d-flex justify-content-evenly">
            <%= link_to favourites_path(recipe) do %>
              <i class="far fa-heart"></i>
            <% end %>
            <%= link_to user_recipes_path(recipe) do %>
              <i class="far fa-circle-xmark"></i>
            <% end %>
          </div>
          <div class="col">
            <%= link_to "See more details", user_recipe_path(recipe), class:"row" %>
            <%= link_to "Edit preferences", edit_user_cuisines_path, class:"row"  %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs'

  const swiper = new Swiper('.swiper', {
      on: {
      init: function () {
        console.log('swiper initialized');
      },
    },
    // Optional parameters
    // direction: 'vertical',
    // loop: true,

    // If we need pagination
    // pagination: {
    //   el: '.swiper-pagination',
    // },

    // Navigation arrows
    // navigation: {
    //   nextEl: '.swiper-button-next',
    //   prevEl: '.swiper-button-prev',
    // },

    // And if we need scrollbar
  //   scrollbar: {
  //     el: '.swiper-scrollbar',
  //   },
  });
</script>
