<div class="swiper">
  <div class="swiper--status">
    <i id="nope" class="fa fa-remove"></i>
    <i id="love" class="fa fa-heart"></i>
  </div>
  <div class="swiper--cards">
    <% @recipes.each do |recipe| %>
      <div class="swiper--card swiper--buttons d-flex flex-column" style="background-image: url('<%= asset_path(recipe.photo_url) %>'); background-size: cover; padding-bottom:80px;" data-recipe-id="<%= recipe.id %>">
        <div class="align-items-start mb-auto">
          <h1><%= recipe.name %></h1>
          <p><%= "#{recipe.time} mins" %></p>
          <p><%= "#{recipe.ingredients.count} ingredients" %></p>
        </div>
        <div class="align-items-end details">
          <div class="hand">
            <div class="swipe">
              <div class="path"></div>
              <div class="hand-icon"></div>
            </div>
          </div>
          <%= link_to "See more details", recipe_path(recipe) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/navbar" %>
<%= render "shared/swiper" %>
