<div class="search-container">
<%= form_with url: search_recipes_path, method: :get, class: "custom-search" do %>
    <%= text_field_tag :q,
      params[:q],
      class: "custom-search-input",
      placeholder: "e.g. Sushi"
    %>
    <%= submit_tag "Search", class: "custom-search-btn" %>
  <% end %>
</div>

<%= render "shared/swiper" %>
<%= render "shared/navbar" %>
