<div class="container py-4 pb-20" style="background-image: linear-gradient(rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 75%), url('<%= asset_path(@recipe.photo_url) %>'); background-size: cover;">
  <div class="container recipe-card py-4">
  <h3><%= @recipe.name%></h3>
    <%= link_to "Back to recipes", recipes_path, method: :get %>
    <p><strong><%= @recipe.description %></strong></p>

    <h5>Time: <%= "#{@recipe.time} mins" %></h5>

    <h5>Ingredients</h5>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
      <% end %>
    </ul>
    <h5>Cuisines</h5>
    <ul>
      <% @recipe.cuisines.each do |cuisine| %>
          <li><%= cuisine.name %></li>
      <% end %>
    </ul>
    <h5>Dietary Restrictions</h5>
    <ul>
      <% @recipe.dietaries.each do |dietary| %>
          <li><%= dietary.dietary_type %></li>
      <% end %>
    </ul>
    <p><%= @recipe.instruction%></p>
    <%= link_to "Back to recipes", recipes_path, method: :get %>
  <%= render "shared/navbar" %>
</div>
