<h1>My Favourite Recipes</h1>
<% @favourites.each do |favourite| %>

  <div>
    <h2><%= favourite.recipe.name %></h2>
    <p><%= favourite.recipe.description %></p>

      <%= form_for favourite, url: favourite_path(favourite), method: :delete, html: { class: "remove-favorite-form" } do |f| %>
      <%= f.submit "Remove", class: "remove-favorite-button" %>
      <% end %>

  <% end %>
    <div class="search-container">
      <%= form_tag(search_user_recipes_path, method: :get, class: "search-form") do %>
      <%= text_field_tag(:query, params[:query], placeholder: "Search recipes...") %>
      <%= submit_tag("Search") %>
      <h2>Search for more Recipes</h2>
    </div>
  </div>
<% end %>
<%= link_to "Back to curated recipes", user_recipes_path, method: :get %>

<%= render "shared/navbar" %>
