<div class="navbar navbar-dishy navbar-dark fixed-bottom">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "temp_logo.jpg" %>
    <% end %>

    <%= link_to edit_user_cuisines_path, class: "edit-pref" do %>
      <i class="fa-regular fa-pen-to-square"></i>
    <% end %>

    <%= link_to search_recipes_path, class: "edit-pref" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>

    <%= link_to favorites_path, class: "edit-pref" do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav align-end">
        <% if user_signed_in? %>
          <li><%= link_to "About Us", about_us_path, class: "dropdown-item dishy-menu" %></li>
          <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item dishy-menu" %></li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
