<div class="container aboutbg text-center">
  <h1>Find us on GitHub</h1>
  <i class="fa-brands fa-github"></i>
  <%= link_to "https://github.com/kswaleh1", target: "_blank" do %>
    <img src= <%= asset_path('aboutus/ks.png') %> >
    <p>Khadija Swaleh</p>
  <% end %>

  <%= link_to "https://github.com/prifinkler", target: "_blank" do %>
    <img src= <%= asset_path('aboutus/pf.png') %> >
    <p>Priscila Finkler</p>
  <% end %>

  <%= link_to "https://github.com/RachelBHolden", target: "_blank" do %>
    <img src= <%= asset_path('aboutus/rh.png') %> >
    <p>Rachel B. Holden</p>
  <% end %>
  <%= link_to "Back to Dishy", recipes_path, method: :get, class: "button-9"  %>
</div>
