<div class="container py-4">
  <%= simple_form_for(@user, url: update_user_dietaries_path, method: :patch) do |f| %>
    <%= f.association :dietaries, collection: Dietary.all,
                      as: :check_boxes,
                      input_html: { class: "tag-selector" },
                      item_wrapper_class: 'tag-item',
                      label_method: :dietary_type,
                      value_method: :id %>
    <%= link_to "Previous", edit_user_ingredients_path, method: :get %>
    <%= f.submit "Save" %>
    <%= link_to "Skip", edit_user_dietaries_path, method: :get %>
  <% end %>
</div>
