<!DOCTYPE html>
<html>
  <head>
    <title>Dishy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# CSS imports %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# Load Hammer.js from CDN before importmap %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <%# JS imports - using importmap for everything else%>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app-container <%= controller_name %>-container">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
  </body>
</html>
